/*DOCUMENT ALL */

html {
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: grid;
    place-items: center;

    background-color: #d1f7f4;
}

select,
input {
    font-size: 1.6rem;
}
h1 {
    font-size: 4rem;
}
h3 {
    font-size: 1.6rem;
    display: grid;
    place-items: center;
}
.container {
    height: 100dvh;
    margin-top: 20px;
    max-width: 800px;

    display: grid;

    place-items: center; /* shorthand for align-items + justify-items */

    border-width: 15px;
    border-color: aquamarine;
    border-style: solid;
    border-radius: 5%;
    background-color: rgb(99, 207, 244);
}

.title {
    padding-top: 50px;
    display: grid;

    place-items: center;
    text-align: center;
}

.sleepForm {
    margin: 0 10px;
    padding: 0 10px;
}
.twentyFourHourCalc,
.fortyEightHourCalc,
.lastSleepCalc {
    display: grid;
    place-items: center;
    text-align: center;
}

.selectForm {
    display: grid;
}

.resultContainer {
    display: grid;
    place-items: center;
    border-style: dashed;
    padding: 10px;
    margin: 15px 15px 15px 15px;
    background-color: lightgoldenrodyellow;
    border-width: 15px;
    border-color: aquamarine;
    border-style: solid;
    border-radius: 5%;
}

.resultText,
.resultHeading {
    text-align: center;
}
.resultText {
    font-size: 1.4rem;
}
.btnContainer {
    display: grid;
    place-items: center;
}
.submitBtn {
    background-color: pink;
    border-radius: 5px;
    border-color: black;
    border-width: 3px;
    font-size: x-large;
    margin: 10px;
    padding: 10px;
}
