/*DOCUMENT ALL */
* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: grid;
    place-items: center;

    background-color: #d1f7f4;
}

.container {
    margin-top: 20px;
    max-width: 600px;

    display: grid;

    place-items: center; /* shorthand for align-items + justify-items */

    border-width: 15px;
    border-color: aquamarine;
    border-style: solid;
    border-radius: 5%;
    background-color: rgb(99, 207, 244);
}

.title {
    display: grid;

    place-items: center;
    text-align: center;
}

.twentyFourHourCalc,
.fortyEightHourCalc,
.lastSleepCalc {
    display: grid;
    place-items: center;
}

.selectForm {
    display: grid;
}

.resultText {
    display: grid;
    place-items: center;
}

.submitBtn {
    background-color: pink;
    border-radius: 5px;
    border-color: black;
    border-width: 3px;
    font-size: x-large;
    margin: 10px;
    padding: 10px;
}

.resultsContainer {
    border-style: dashed;
    padding: 10px;
    margin: 15px;
    background-color: lightgoldenrodyellow;
}
